<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<<<<<<< HEAD
=======
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
>>>>>>> f53fb1270bdbaa8e3aba0f8c5dab1d714f3a6e1b
  <title><%= @title %></title>
  <link rel="stylesheet" type="text/css" href="/pubfinder.css" />
  <script type="text/javascript" language="javascript" src="/jquery-1.6.2.min.js"></script>
  <link type="text/css" href="/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
  <script type="text/javascript" src="/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="/pubfinder.js">
  </script>
</head>
<body>
<%= yield %>
</body>
</html>
