<p>Add a new reviewer</p>

=begin
<form action="/reviewers" method="POST">
  <p><label for="reviewer_twitter">Reviewer Twitter Name <input type="text" name="reviewer[twitterid]" id="reviewer_twitter"></label></p>
  <p><label for="reviewer_name">Reviewer name</p>
  <input type=:text" name="reviewer[name]" id="reviewer_name"></label>
  <p><input type="submit" name="submit" value="Add the reviewer"></p>
</form>
=end
