<h3>Reviews</h3>

<%- reviews.each do |review| -%>
<div>
  <p>Review of <%= review.pub.name %> by <%= review.reviewer.twitterid %></p>
  <p><%= review.text %></p>
</div>
<%- end -%>

<h3>Write a review</h3>
<form action="/pubs/<%= pub.id %>/reviews" method="POST">
  <p><label for="reviewer">Reviewer's ID 
  <input type="text" name="review[reviewer_id]" id="reviewer_id"></label></p>
  <p><label for="review_text">Your review</label></p>
  <textarea name="review[text]" id="review_text">
  </textarea>
  <p><input type="submit" name="submit" value="Add your review"></p>
</form>
